
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <!--HEADER-->
        <div class="container">
            <!--CONTAINER-->
            <a class="logo">
                <div class="logo-text">HP</div>
                <img src="{% static 'image/logo.png' %}">
                Happy Pet
            </a>
            <div class="menu">
                <a href="">Главная</a>
                <a href="">О сервисе</a>
                <a href="">Донат</a>
                <a href="">Контакты</a>
            </div>
            <div class="basket">
                <img src="{% static 'image/Vector.png' %}" id="basket">
                <img src="{% static 'image/Ellipse1.png' %}" id="circle">
                <div class="sum">5100 тг</div>
                <div class="triangle-down"></div>
            </div>
        </div>
        <!--CONTAINER-->
    </div>
    <!--HEADER-->
    <div class="intro">
        <div class="container">
            <div class="inner">
                <!--INTRO INNER-->
                <img src="{% static 'image/parrot.png' %}" id="parrot">
                <img src="{% static 'image/dog.png' %}" id="dog">
                <img src="{% static 'image/cat.png' %}" id="cat">

                <div class="content">
                    <h1>Твой новый друг уже ждёт тебя</h1>
                    <h3>Онлайн магазин домашних животных</h3>
                    <button class="btn">Выбрать друга</button>
                    <div class="enrollment">
                        <div> Emaill</div>
                        <input type="text" class="emaill" placeholder="Emaill">
                        <div> Password</div>
                        <input type="text" class="password" placeholder="Password">
                        <button class="submit">Login</button>

                    </div>
                </div>


            </div>
            <!--INTRO INNER-->
        </div>
    </div>
    <div class="catalog">
        <div class="container">
            <div class="inner">
                <h2>Каталог животных</h2>
                <div class="cards">

                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>
                    <div class="card">
                        <div id="text">
                            <div><span>4</span> месяца</div>
                            <div>
                                Кобель
                            </div>
                        </div>

                        <img src="{% static 'image/dog%20for%20card%201.png' %}">
                        <h2>Ретривер</h2>
                        <h5>Один из типов охотничьих собак,
                            выведенная в Великобритании в XIX веке</h5>
                        <h2>7000 тг</h2>
                    </div>


                </div>
            </div>
            <h1>Почему выбирают нас?</h1>
            <div class="flexbox">
                <div id="info"> <img src="{% static 'image/track.png' %}" id="icon">
                    <div class="each">
                        <div id="text">Их много</div>
                        <div id="text">Огромный выбор животных,<br> птиц и питомцев</div>
                    </div>
                </div>
                <div id="info"> <img src="{% static 'image/first-aid-kit.png' %}" id="icon" class="second">
                    <div class="each">
                        <div id="text">Oни здоровы</div>
                        <div id="text">Мы заботимся о каждом <br> питомце, который с нами</div>
                    </div>
                </div>
                <div id="info"> <img src="{% static 'image/favourite.png' %}" id="icon">
                    <div class="each">
                        <div id="text">Их любят
                        </div>
                        <div id="text">Наши животные окружены <br> любовью и вниманием</div>
                    </div>
                </div>
            </div>
            <div>
                <h1>Наша галерея </h1>
                <div class="flexbox">
                    <h1>ТУТ СЛАЙДЕР</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="inner">
                <div class="flexbox">
                    <a class="logo">
                        <div class="logo-text">HP</div>
                        <img src="{% static 'image/logo.png' %}">

                        Happy Pet
                    </a>
                    <div class="column">
                        <h4>О нас</h4>
                        <div class="text">Информация о компании</div>
                        <div class="text">Связаться с нами</div>
                    </div>
                    <div class="column">
                        <h4>Support</h4>
                        <div class="text">FAQ</div>
                        <div class="text">Служба поддержки</div>
                    </div>
                    <div class="media">
                        <div class="flexbox">
                            <img src="{% static 'image/Vector%20(2).png' %}">
                            <img src="{% static 'image/Vector%20(3).png' %}">
                            <img src="{% static 'image/Vector%20(4).png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body></html>
